{{{nodeName}}} = Agent(
    instructions="""{{{systemPrompt}}}""",
    tools=[{{#tools}}{{{.}}}, {{/tools}}],
{{#hasSubAgentUrls}}
    sub_agents=[{{#subAgentUrls}}"{{.}}", {{/subAgentUrls}}],
{{/hasSubAgentUrls}}
)
