{{{nodeName}}} = RouterAgent(
    agents=[
{{#routes}}
        ("{{name}}", "{{{description}}}", {{{agent}}}),
{{/routes}}
    ],
{{#hasInstructions}}
    instructions="""{{{instructions}}}""",
{{/hasInstructions}}
)
